
<head> <!-- Ici, faire la lecture du fichier JSON pour récpuérer les infos -->

</head>

<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <!--<ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        Toutes les courses
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>-->

    <ion-title>Sorties programmées</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Rechercher">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list #scheduleList [hidden]="shownSessions === 0">

    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

      <ion-item-divider sticky>
        <ion-label>
          Date : {{group.date}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide">

        <button ion-item (click)="goToSessionDetail(session)">
          <h3>{{group.time}}</h3>
          <p>
            {{session.timeStart}} &mdash;
            {{session.timeEnd}}:
            {{session.location}}
          </p>
          <ion-badge item-end *ngFor="let ptr of session.participants" [hidden]="ptr.hide">
            {{ptr.nb}}
          </ion-badge>
        </button>
        <!--<ion-item-options>
          <button ion-button color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            Favorite
          </button>
          <button ion-button color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')" *ngIf="segment === 'favorites'">
            Remove
          </button>
        </ion-item-options>-->

      </ion-item-sliding>

    </ion-item-group>


  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
      Aucune course trouvée
  </ion-list-header>

  <ion-fab bottom right #fab4>
		<button ion-fab><ion-icon name="arrow-dropup"></ion-icon></button>
		<ion-fab-list side="top">
		  <button ion-fab color="google" (click)="open('http://www.teamvttmaisse.org/forum/portal.php')"><ion-icon name="bicycle"></ion-icon></button>
		  <button ion-fab color="facebook" (click)="open('https://www.facebook.com/teamvttmaisse/')"><ion-icon name="logo-facebook"></ion-icon></button>
		</ion-fab-list>
	</ion-fab>

</ion-content>