$categories: (
 ionic: color($colors, primary),
 rando: rgb(255, 0, 4),
 course: rgb(43, 0, 255),
 entrainement: rgb(255, 217, 0),
 autre: rgb(30, 255, 0),
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}
